body {
    background-color: #000;
}

.container {
    padding: 15px;
    color: #fff;
}

.title-container {
    text-align: center;
}

.comp1-container {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
    background-color: #d1d1d1;
    color: #000;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.comp2-container {
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
    background-color: #d1d1d1;
    color: #000;
}

.text-center {
    text-align: center;
}